**/. DS_Store
study/formulalist/ttr_template.html
study/navbar.js

image/screenshots/.DS_Store
questionbank/.DS_Store
questionbank/fiitjee/.DS_Store
questionbank/fiitjee/chemistry/.DS_Store
questionbank/fiitjee/chemistry/phase01/template_chem.html
styles/.DS_Store
