body {
	font-family: Arial, sans-serif;
	background-color: #f3f4f6;
	margin: 0;
	padding: 0;
}

h2 {
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

h3 {
	padding-bottom: 10px;
	padding-left: 40px;
}

h4 {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 40px;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	padding: 10px 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	height: 60px; /* Increase height to fit icon and text */
}

.navbar .logo {
	display: flex;
	align-items: center;
}

.navbar .logo h1 {
	font-size: 24px;
	margin: 0;
}

.navbar-link {
	font-size: 16px; /* Adjust font size of the text */
	margin-top: 5px; /* Adjust margin between icon and text */
	font-weight: bold; /* Make the text bold */
	color: #336666;
}

.navbar-center {
	display: flex;
	justify-content: center;
	flex-grow: 1;
}

.navbar-icons {
	display: flex;
	align-items: center;
	gap: 30px;
	position: relative; /* Add relative positioning to navbar-icons */
}

.navbar-icons .nav-icon {
	width: 40px;
	height: 60px; /* Increase height to fit icon and text */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; /* Ensure the text is below the icon */
	border-radius: 10px;
	background-color: #fff;
	position: relative; /* Add relative positioning to nav-icon */
}

.navbar-icons .nav-icon::after {
	content: '';
	position: absolute;
	top: 50%; /* Position the line vertically centered */
	right: -15px; /* Adjust position to place the line between items */
	width: 1px;
	height: 40px;
	background-color: black;
	transform: translateY(-50%); /* Center the line vertically */
}

.navbar-icons .nav-icon:last-child::after {
	display: none; /* Remove the line after the last item */
}

.navbar-icons .nav-icon img {
	height: 24px; /* Adjust height of the icon */
	width: 24px; /* Adjust width of the icon */
}

.navbar-icons .nav-icon span {
	font-size: 12px; /* Adjust font size of the text */
	margin-top: 5px; /* Adjust margin between icon and text */
	font-weight: bold; /* Make the text bold */
}

.navbar-icons a {
	text-decoration: none; /* Remove text decoration */
	color: inherit; /* Ensure link color doesn't change */
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding: 20px;
}

.card {
	border-radius: 15px;
	padding: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.2s ease, transform 0.2s ease;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.card:active {
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	transform: translateY(2px);
}

.card-link {
	text-decoration: none;
	color: inherit;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.card-item-link {
	color: black;
	text-decoration: none;
	z-index: 2;
	position: relative;
}

.card-item-link:hover {
	text-decoration: underline;
}

.card img {
	height: 50px;
	width: 50px;
}

.card-content {
	margin: 10px 0;
	z-index: 2;
	position: relative;
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	z-index: 2;
	position: relative;
}

.card-icon {
	height: 30px;
	width: 30px;
}

.card-arrow {
	height: 20px;
	width: 20px;
}

.green-card {
	background-color: #519e8a;
}

.pink-card {
	background-color: #f25c54;
}

.blue-card {
	background-color: #3f7cac;
}

.yellow-card {
	background-color: #ffd97d;
}

.accordion {
	margin: 20px;
}

.accordion li {
	list-style-type: none;
}

.accordion-item {
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
}

.accordion-button {
	background-color: #f3f4f6;
	border: none;
	width: 100%;
	text-align: left;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 18px;
	outline: none;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

.accordion-button:hover,
.accordion-button.active {
	background-color: #e0e0e0;
}

.accordion-link {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}

.accordion-link:visited,
.accordion-link:active {
	color: inherit;
}

.accordion-content {
	padding: 5px 5px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}

.accordion-open {
	display: block;
}

.accordion-content ol {
	list-style: decimal;
	padding: 0;
	margin: 0 0 0 20px; /* Indent the sublists by one tab space */
}

.accordion a {
	color: #0066cc;
	text-decoration: none;
}

.accordion-content li {
	padding: 10px 20px;
	border-top: 1px solid #ddd;
}

.accordion-content li a {
	color: #0066cc;
	text-decoration: none;
}

.accordion-content li a:hover {
	text-decoration: underline;
}

.accordion-content-left {
	padding-left: 20px;
}

.iframe {
	padding-left: 20px;
}

.format-latex {
	padding-left: 5px;
}

.list-indent {
	padding-left: 10px;
}

#exam-info a {
	color: #c1121f;
	font-weight: bold;
}

.new_container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new_container ol {
	list-style: decimal;
	padding-left: 20px;
}

.new_container p {
	line-height: 1.6;
	margin-bottom: 10px;
}

.ans-align {
	padding-left: 10px;
	margin-left: 20px;
	margin-bottom: 3px;
	text-align: left;
}

.visited-color a {
	text-decoration: none;
	decoration: none;
}

.small-caps {
	font-variant: small-caps;
}

.smaller-font {
	font-size: smaller;
}

.left-justify {
	text-align: left;
}

.equation {
	text-align: left;
	display: block;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 220px;
	background-color: #6c757d;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 125%; /* Position above the text */
	left: 50%;
	margin-left: -110px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
	/* Adjust styles for tablets */
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 480px) {
	/* Adjust styles for phones */
	.container {
		grid-template-columns: repeat(1, 1fr);
	}
}
